.appHeader {
    position: absolute;
    z-index: 1;
    right: 0;
    width: 100%;
    background: transparent;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.appNav ul {
    list-style: none;
    padding: 0;
    margin: 1.25rem 2.5rem;
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
}

.appNav ul li {
    cursor: pointer;
    color: white;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 700;
}

.appNav ul li:last-child {
    margin-right: 0;
}

.appHeader.notHome {
    background: #3F4469;
}

.imageLogo {
    height: 30px;
    margin-left: 2.5rem;
}

@media (max-width: 768px) {
    .appHeader {
        width: auto;
    }
}